<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="brand">Rush Hour</li>
        <li><a href="/">Home</a></li>
      </ul>
  </div>
</nav>
