body#background {
  background: url('img/traffic.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body {
  padding-top: 70px;
  background-color: rgb(69,173,168);
}

nav {
  padding-left: 20px;
  padding-top: 10px;
  background-color: rgb(215, 228, 194);
  font-size: 20px;
}

h4 {
  font-family: serif;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  color: rgb(84,121,128);
}

.info-text {
  font-family: monospace;
}

.url-specific-stats {

}

.client-stats {

}

/*.client-response-times {
  height: 300px;
  background-color: rgb(157,224,173);
}

.client-frequent-requests {
  height: 300px;
  background-color: rgb(69,173,168);
}

.client-breakdowns {
  height: 300px;
  background-color: rgb(84,121,128);
}*/

.client-urls {
  background-color: rgb(215, 228, 194);
}

.hourly-breakdown {
}

/*.url-response-time {
  height: 300px;
  background-color: rgb(157,224,173);
}

.url-verbs {
  height: 300px;
  background-color: rgb(69,173,168);
}*/

.stats-div {
  height: 300px;
  background-color: rgb(84,121,128);
}

#welcome {
  font-family: 'Racing Sans One', cursive;
  font-size: 64px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  /*border: 1px solid black;*/
}
