<%= erb(:'partials/_navbar_home_only') %>

<div class="container text-center white-font">
  <h1>Sorry, that client name hasn't been registered with Rush Hour yet.</h1>

  <h3>Please register your account with our site, and we'd be happy to help you.</h3>
</div>
