<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
  </div>
</nav>
<div class="container text-center">
  <h1>Error Page</h1>
  <h3 class="missing-url">This url has not been requested</h3>
</div
